* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.row {
    display: flex;
}

.bg-black{
    background-color: black;
}

.text-white {
    color: white;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.w-100 {
    width: 100%;
}

.navbar {
    display: flex;
}

.navbar-img {
    width: auto;
}

.navbar-menu {
    display: flex;
    padding-block: 10px;
    flex: 1;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 3;
}

.search-box input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 20px;
}

.menu {
    flex: 2;
    display: flex;
    list-style-type: none;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    flex: 1;
    margin-inline: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-link {
    text-decoration: none;
}

main {
    padding: 0;
    margin: 0;
    width: 100%;
}

.main-navbar {
    width: 15%;
}

.main-cards {
    width: 85%;
}

/* Estilos básicos */
.dropdown-menu {
    position: relative;
}

.dropdown-items {
    max-height: 120px; /* Limita la altura visible */
    overflow-y: auto;
}

.dropdown-item {
    cursor: pointer;
    padding: 8px 16px;
}

.show-more-btn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
}

/* Estilo para ocultar los géneros adicionales */
.dropdown-items .dropdown-item:nth-child(n+5) {
    display: none;
}

/* Mostrar los géneros adicionales cuando el botón "Mostrar más" esté activo */
.show-more-btn.active + .dropdown-items .dropdown-item:nth-child(n+5) {
    display: block;
}
